---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <body>
    <header>
      <h1 id="app-title">Soy el header de esta app</h1>
      <menu>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li class="menu-items">
            <a href="#">About me</a>
          </li>
          <li class="menu-items">
            <a href="#">Blogs</a>
          </li>
          <li class="menu-items">
            <a href="#">Contact</a>
          </li>
        </ul>
      </menu>
    </header>
    <main>
      <!-- Los atributo son parte de HTML, id, class, type, value, etc -->
      <input
        id="input-id"
        class="input-class border-1"
        type="text"
        value="Nombre"
      />
    </main>
    <script src="../assets/js/02-Ejemplo.js"></script>
  </body>
</Layout>
