---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <body>
    <header>
      <h1 id="app-title" class="text-2xl text-center">
        Soy el header de esta app
      </h1>
      <menu>
        <ul class="text-center">
          <li class="">
            <a href="#">Home</a>
          </li>
          <li class="menu-items">
            <a href="#">About me</a>
          </li>
          <li class="menu-items">
            <a href="#">Blogs</a>
          </li>
          <li class="menu-items">
            <a href="#">Contact</a>
          </li>
        </ul>
      </menu>
    </header>
    <main>
      <section>
        <p>Soy el texto principal de esta app</p>
      </section>
      <section>
        <p>Soy el texto secundario de esta app</p>
      </section>
    </main>
    <script src="../assets/js/app.js"></script>
  </body>
</Layout>
